################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/LAB3 - Invoice Class/Invoice/.vs/Invoice/v16/ipch
/LAB3 - Invoice Class/Invoice/.vs/Invoice/v16/.suo
/LAB3 - Invoice Class/Invoice/.vs/Invoice/v16/Browse.VC.db
/LAB3 - Invoice Class/Invoice/.vs/Invoice/v16/Browse.VC.db-shm
/LAB3 - Invoice Class/Invoice/.vs/Invoice/v16/Browse.VC.db-wal
/LAB3 - Invoice Class/Invoice/.vs/Invoice/v16/Browse.VC.opendb
/LAB3 - Invoice Class/Invoice/InvoiceLib/x64/Debug
/LAB3 - Invoice Class/Invoice/InvoiceUnitTest/x64/Debug
/LAB3 - Invoice Class/Invoice/x64/Debug
/LAB3 - Invoice Class/Invoice/InvoiceApp/x64/Debug/InvoiceApp.tlog
/LAB3 - Invoice Class/Invoice/InvoiceApp/x64/Debug
/LAB3 - Invoice Class/Invoice/InvoiceApp/x64/Release/InvoiceApp.tlog
/LAB3 - Invoice Class/Invoice/InvoiceApp/x64/Release
/LAB3 - Invoice Class/Invoice/InvoiceLib/x64/Release/InvoiceLib.tlog
/LAB3 - Invoice Class/Invoice/InvoiceLib/x64/Release/InvoiceClass.obj
/LAB3 - Invoice Class/Invoice/InvoiceLib/x64/Release
/LAB3 - Invoice Class/Invoice/InvoiceUnitTest/x64/Release
/LAB3 - Invoice Class/Invoice/x64/Release
